@font-face {
    font-family: 'latoblack';
    src: url('assets/fonts/lato-black-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('assets/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('assets/fonts/lato-light-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('assets/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a{
    padding: 0px;
    margin: 0px;
} 
a{
    text-decoration: none;
}
.container{
    width: 960px;
    margin: auto;
    padding: 0px 10px;
}
h1{
    text-transform: uppercase;
    font-family: 'latobold';
    font-size: 25px;
    line-height: 1;
}
.header{
    background: #2d303a;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 a{
    color: #ffffff;
}
.logo h1 a span{
    color: #f06c64;
}
.menu{
    padding: 41px 0 30px 0;
}
.menu a{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'latobold';
    font-size: 12px;
    transition: ease .3s;
}
.menu a + a{
    margin-left: 25px;
}
.menu a:hover{
    color: #e36861;
}