@font-face {
    font-family: 'latoblack';
    src: url('assets/fonts/lato-black-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('assets/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('assets/fonts/lato-light-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('assets/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a{
    padding: 0px;
    margin: 0px;
} 
a{
    text-decoration: none;
}
.container{
    width: 960px;
    margin: auto;
    padding: 0px 10px;
}
h1{
    text-transform: uppercase;
    font-family: 'latoregular';
    font-size: 25px;
    line-height: 1;
}
h2{
    text-transform: capitalize;
    font-family: 'latoblack';
    font-size: 30px;
    line-height: 1;
    color: #666d89;
}
.header{
    background: #2d303a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 2000;
}
.header::after{
    content: '';
    position: absolute;
    height: 6px;
    width:100%;
    background: #323746;
    bottom: 0px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 31px 0 39px 0;
}    
.logo h1 a{
    color: #ffffff;
}
.logo h1 a span{
    color: #f06c64;
}
.menu{
    margin-right: -1px;
}
.menu a{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'latobold';
    font-size: 12px;
    transition: ease .3s;
}
.menu a + a{
    margin-left: 24px;
    position: relative;
}
.menu a + a::before{
    content: '';
    position: absolute;
    left: -15px;
    top: 6px;
    width: 2px;
    height: 2px;
    background: #494e62;
}
.menu a:hover{
    color: #e36861;
}
.burger-menu{
    width: 25px;
    height: 2px;
    position: absolute;
    top: 35px;
    background: white;
    left: 20px;
    display: none;
    z-index: 100;
}
.logo-open{
    position: absolute;
    z-index: 101;
    left: 58px;
    top: 0px;
}
.open-menu{
    justify-content: start;
}
.close-menu{
    transform: rotate(90deg);
}
.burger-menu::before{
    content: '';
    width: 25px;
    height: 2px;
    background: white;
    display: block;
    margin-top: -9px;
}
.burger-menu::after{
    content: '';
    width: 25px;
    height: 2px;
    background: white;
    display: block;
    margin-top: 16px;
}
.slider{
    height: 594px;
    background: #f06c64;
    position: relative;
    margin-top: 100px;
}
.slider::after{
    content: '';
    position: absolute;
    height: 6px;
    width:100%;
    background: #ea676b;
    bottom: -6px;
}
.slider-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.right-arrow, .left-arrow{
    transform: translate(3px, -5px);
}
.right-arrow i{
    font-size: 51px;
    color: #ca4549;
    transition: ease .3s;
    cursor: pointer;
}
.right-arrow i:hover{
    color: #000000;
}
.left-arrow i{
    font-size: 51px;
    color: #ca4549;
    transition: ease .3s;
    cursor: pointer;
}
.left-arrow i:hover{
    color: #000000;
}
.vertical-phone, .gorizontal-phone{
    position: absolute;
}
.gorizontal-phone{
    top: 174px;
    right: 79px;
}
.vertical-phone{
    top: 53px;
    left: 84px;
}
.vertical-phone img:first-child{
    width: 240px;
    height: 483px;
}
.vertical-phone img:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
}
.vertical-phone img:nth-child(3){
    position: absolute;
    top: 62px;
    left: 11px;
    z-index: 10;
}
.vertical-phone .display{
    position: absolute;
    top: 62px;
    left: 11px;
    background: black;
    width: 194px;
    height: 339px;
    z-index: 9;
}
.gorizontal-phone img:first-child{
    width: 483px;
    height: 240px;
}
.gorizontal-phone img:nth-child(2){
    position: absolute;
    top: 0px;
    right: 26px;
}

.gorizontal-phone img:nth-child(3){
    position: absolute;
    top: 11px;
    right: 88px;
    z-index: 10;
}
.gorizontal-phone .display{
    position: absolute;
    top: 11px;
    right: 88px;
    background: black;
    width: 339px;
    height: 194px;
    z-index: 9;
}

.advantages{
    background: #f2f2f2;
    margin-top: 6px;
    padding: 62px 0px 63px 0px;
    position: relative;
}
.advantages::after{
    content: '';
    position: absolute;
    height: 6px;
    width:100%;
    background: #ffffff;
    bottom: -6px;
}
.advantages-headline h2{
    margin-left: 3px;
}
.advantages-headline p{
    font-family: 'latolight';
    font-size: 18px;
    color: #878da9;
    margin-left: 2px;
    margin-top: 21px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.advantages-wrapper{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 34px;
}
.advantages-item{
    display: flex;   
}
.advantages-icon {
    border: 2px solid #666d89;
    border-radius: 50%;
    width: 59px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages-icon:first-child{
    margin-left: 2px;
}
.advantages-icon i{
    font-size: 31px;
    color: #666d89;
}
.advantages-text{
    margin-left: 22px;
    width: 220px;
    height: 88px; 
    overflow: hidden;
}
.advantages-text h4{
    color: #666d89;
    font-family: 'latoblack';
    font-size: 18px;
    line-height: .7;
}
.advantages-text p{
    font-family: 'latoregular';
    font-size: 12px;
    margin-top: 15px;
    color: #666d89;
    line-height: 1.7;
}
.gallery{
    background: #2d303a;
    padding: 63px 0px 66px 0px;
    position: relative;
    margin-top:6px;
}
.gallery::after{
    content: '';
    position: absolute;
    height: 6px;
    width:100%;
    background: #323746;
    bottom: -6px;
}
.gallery-menu{
    padding: 13px 0px 21px 2px;
}
.gallery-menu a{
    font-size: 12px;
    font-family: 'latolight';
    padding: 2px 7px;
    border: 1px solid #666d89;
    border-radius: 6px;
    color: #767e9e;
    transition: ease .5s;
}
.gallery-menu a:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
}
.gallery-menu a + a{
    margin-left:6px;
}
.gallery-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    padding-left: 2px;
    grid-column-gap: 20px;
}
.gallery-item{
    display: flex;
}
.gallery-item img{
    width: 220px;
    height: 187px;
    transition: ease .7s;
    cursor: pointer;
}
.gallery-item img:hover{
    cursor: pointer;
}
.about{
    padding: 62px 0px 65px 0px;
    margin-top: 6px;
    background: #f2f2f2;
    position: relative;
}
.about::after{
    content: '';
    position: absolute;
    height: 6px;
    width:100%;
    background: #ffffff;
    bottom: -6px;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-left: 2px;
    margin-right: -2px;
}
.about-wrapper .about-item:nth-child(2){
    margin-left: -1px;
}
.about-img img{
    width: 300px;
    height: 300px;
}
.abot-text{
    width:300px;   
    margin-top: 16px;
}
.abot-text h4{
    font-family: 'latoblack';
    font-size: 18px;
    line-height: .7;
    margin-top: 15px;
    color: #666d89;
}
.abot-text p{
    margin-top: 15px;
    font-size: 12px;
    font-family: 'latoregular';
    line-height: 1.6;
    color: #767e9e;
}
.about-social{
    display: flex;
    margin-top: 26px;
}
.about-social a{
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 32px;
    font-size: 16px;
    transition: ease .3s;
}
.about-social a:hover{
    color: #ffffff;
    background: aqua;
    border: 1px solid aqua; 
}
.about-social a + a{
    margin-left: 7px;
}
.advantages-headline h2{
    margin-left: 3px;
}
.advantages-headline p{
    font-family: 'latolight';
    font-size: 18px;
    color: #878da9;
    margin-left: 2px;
    margin-top: 21px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.form-contact{
    background: #f06c64;
    padding: 62px 0px 67px 0px;
    position: relative;
    margin-top: 6px;
}
.form-contact::after{
    content: '';
    position: absolute;
    height: 6px;
    width:100%;
    background: #ea676b;
    bottom: -6px;
}
.contact-headline h2{
    margin-left: 3px;
    color: #f0d8d9;
    text-transform: none;
}
.contact-headline p{
    font-family: 'latolight';
    font-size: 18px;
    color: #f0d8d9;
    margin-left: 2px;
    margin-top: 21px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.contact-wrapper{
    display: flex;
}
.form-item {
    margin-top: 28px;
    margin-left: 3px;
}
.form-item form{
    display: flex;
    flex-direction: column;
}
.form-item form input,textarea{
    width: 619px;
    margin-top: 16px;
    background: #d6564f;
    border: none;
    font-size: 12px;
    font-family: 'latoregular';
    color: #f48c8f;
    padding-left: 15px;    
    border-radius: 4px
}
.form-item form input{
    height: 38px;
}
.form-item form textarea{
    padding-top: 10px;
    resize: none;
    height: 202px;
}
.form-item form input::-webkit-input-placeholder{
    color: #f48c8f;
}
.form-item form textarea::-webkit-input-placeholder{
    color: #f48c8f;
}
.form-item form input::-moz-placeholder{
    color: #f48c8f;
}
.form-item form textarea:-moz-placeholder{
    color: #f48c8f;
}
.form-item form input:focus{
    outline: none;
    background: blanchedalmond;
}
.form-item form textarea:focus{
    outline: none;
    background: blanchedalmond;
}
.form-item form .submit{
    width: 31%;
    background: lightsalmon;
    color: black;
    text-transform: uppercase;
}
.contact-box{
    margin-top: 47px;
    margin-left: 21px;
}
.contact-box h4{
    font-family: 'latoblack';
    font-size: 18px;
    line-height: .7;
    color: #f0d8d9;
}
.contact-box p{
    color: #f0d8d9;
    font-family: 'latoregular';
    font-size: 12px;
    margin-top: 14px;
    line-height: 1.8;
}
.adress-box{
    margin-top: 23px;
}
.adress-box p{
    margin-left: 3px;
}
.adress-box span{
    padding-left: 10px;
}
.adress-box a{
    color: #f0d8d9;
    font-family: 'latoregular';
    font-size: 12px;
}
.adress-box .adress:last-child{
    margin-top: 5px;
}
.adress-box p:hover{
    color: blue;
} 
.adress-box a:hover{
    color: blue;
} 
.footer{
    background: #2d303a;
    margin-top: 6px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    height: 76px;
    align-items: center;
}
.copyright{
    color: #4b5164;
    font-family: 'latoregular';
    font-size: 12px;
    margin-left: 3px;
}
.footer-social{
    display: flex;
    margin-right: -2px;
}
.footer-social a{
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    transition: ease .3s;
}
.footer-social a + a{
    margin-left: 7px;
}
.footer-social a:hover{
    color: #ffffff;
    background: aqua;
    border: 1px solid aqua; 
}
.menu .menuActive{
    color: #e36861;
}
.hide{
    opacity: 0;
}
.gallery-menu .active-gallery{
    color: #ffffff;
}
.gallery-item .active-img{
    border: 5px solid #F06C64;
}
.msg-wrap{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(22, 22, 22, .5);
}
.msg-hidden{
    display: none;
}
#msg{
    height: 200px;
    width:300px;
    background: blanchedalmond;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1019px) {
    h1 {
        font-size: 24px;
    }
    .container{
        width: 100%;
    }
    .header {
        height: 95px;
    }
    .header-wrapper {
        padding: 0px 30px;
    }
    .menu{
        height: 94px;
        display: flex;
        align-items: center;
    }
    .menu a + a {
        margin-left: 30px;
    }
    .slider{
        margin-top: 95px;
        height: 445px;
    }
    .slider-wrapper {
        max-width: 768px;
    }
    .vertical-phone {
        top: 41px;
    }
    .vertical-phone img:nth-child(2) {
        width: 162px;
        height: 344px;
    }
    .vertical-phone img:nth-child(3) {
        top: 46px;
        left: 9px;
        width: 145px;
        height: 255px;
    }
    .vertical-phone img:first-child {
        width: 181px;
        height: 364px;
        left: 9px;
    }
    .vertical-phone .display {
        top: 46px;
        left: 9px;
        width: 145px;
        height: 255px;
    }
    .gorizontal-phone {
        top: 133px;
        right: 62px;
    }
    .gorizontal-phone img:first-child {
        position: absolute;
        width: 363px;
        height: 181px;
        right: 23px;
    }
    .gorizontal-phone img:nth-child(2) {
        width: 344px;
        height: 162px;
        right: 42px;
    }
    .gorizontal-phone img:nth-child(3) {
        width: 255px;
        height: 145px; 
        top: 9px;
    }
    .gorizontal-phone .display {
        width: 255px;
        height: 145px; 
        top: 9px;
    }
    .right-arrow, .left-arrow {
        transform: translate(3px, 0px);
    }
    .left-arrow {
        margin-left: 14px;
    }
    .right-arrow{
        margin-right: 19px;
    }
    .advantages-wrapper {
        grid-template-columns: 1fr 1fr;
        margin-top: 38px;
        padding: 0px 30px;
    }
    .advantages {
        padding: 43px 0px 71px  0px;
    }
    .advantages-headline{
        padding: 0px 28px;
    }
    .advantages-headline p {
        text-align: justify;
    }
    .advantages-item:nth-child(n+3) {
        margin-top: 22px;
    }
    .gallery {
        background: #2d303a;
        padding: 63px 0px 62px 0px;
    }
    .gallery-menu {
        padding: 13px 30px 21px 30px;
    }
    .gallery-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 29px;
        margin-top: 10px;
    }
    .gallery-item img {
        width: 100%;
        height: 100%;
    }
    .about {
        padding: 57px 0px 67px 0px;
    }
    .about-wrapper {
        margin-top: 37px;
        margin-left: 0px;
        padding: 0px 32px;
    }
    .about-item{
        min-width: 219px;
        width: 28.5vw;
    }
    .about-img img {
        width: 100%;
        height: 100%;
    }
    .abot-text{
        width: auto;
    }
    .abot-text h4 {
        margin-top: -4px;
    }
    .abot-text p {
        margin-top: 7px;
    }
    .about-social {
        margin-top: 18px;
    }
    .form-contact {
        padding: 57px 0px 43px 0px
    }
    .contact-headline{
        padding: 0px 30px;
    }
    .contact-wrapper {
        padding: 0px 27px;
        justify-content: space-between;
    }
    .form-item {
        margin-top: 11px;
        /*width: 100%;
        min-width: 440px;*/
    }
    .form-item form input, textarea {
        margin-top: 13px;
        padding-left: 9px;
        width: auto;
        width: 57vw;
    }
    .form-item form textarea {
        height: 158px;
        padding-top: 6px;
    }
    .contact-box {
        margin-top: 28px;
        margin-left: 31px;
    }
    .contact-box p {
        margin-top: 7px;
        line-height: 1.9;
    }
    .adress-box {
        margin-top: 9px;
    }
    .footer-wrapper {
        padding: 0px 35px;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 19px;
    }
    .header {
        height: 70px;
    }
    .header-wrapper{
        justify-content: center;
    }
    .logo {
        padding: 27px 0 25px 13px;
    }
    .burger-menu{
        display: block;
    }
    .menu{
        display: none;
        flex-direction: column;
        background: #2d303a;
        position: fixed;
        left: 0;
        height: 100vh;
        top: 0;
        align-items: flex-start;
        justify-content: flex-end;
        width: 277px;
    }
    .header-wrapper .menu a {
        margin-bottom: 31px;
        margin-left: 71px;
        font-size: 23px;
    }
    .header-wrapper .menu a:last-child {
        margin-bottom: 40px;
    }
    .menu a + a::before {
        position: unset;
    }
    .menu a + a {
       /* margin-left: 0;*/
    }
    .slider {
        /*display: none;*/
        margin-top: 70px;
        height: 50vw;
        min-height: 215px;
    }
    .vertical-phone {
        top: calc(10% - 1px);
        left: calc(10% + 3px);
    }
    .vertical-phone img:first-child {
        width: calc(22vw + 5px);
        min-height: 177px;
        height: auto;
    }
    .vertical-phone img:nth-child(2) {
        width: calc(21vw + 1px);
        height: calc(93% + 1px);
    }
    .vertical-phone img:nth-child(3) {
        width: 19vw;
        height: auto;
        top: 13%;
        left: 4%;
    }
    .vertical-phone .display {
        width: 19vw;
        height: 33vw;
        top: 13%;
        left: 4%;
    }
    .gorizontal-phone {
        top: calc(30% + 1px);
        right: 5%;
    }
    .gorizontal-phone img:first-child {
        width: calc(45vw + 9px);
        height: auto;
        right: 21px;
    }
    .gorizontal-phone img:nth-child(2) {
        width: calc(44vw + 4px);
        right: 32px;
        height: auto;
    }
    .gorizontal-phone img:nth-child(3) {
        top: 4px;
        right: calc(5vw + 35px);
        width: calc(33vw + 2px);
        height: auto;
    }
    .gorizontal-phone .display {
        top: 4px;
        right: calc(5vw + 35px);
        width: calc(33vw + 2px);
        height: 19vw;
    }
    .left-arrow {
        margin-left: -4px;
    }
    .right-arrow {
        margin-right: 0;
    }
    .advantages {
        padding: 29px 0px 20px 0px;
    }
    .advantages-headline {
        padding: 0px 19px;
    }
    .advantages-wrapper {
        grid-template-columns: 1fr;
        margin-top: 29px;
        padding: 0px 20px;
    }
    .advantages-item:nth-child(n+2) {
        margin-top: -2px;
    }
    .advantages-icon {
        width: 60px;
        height: 60px;
    }
    .advantages-text h4 {
        margin-top: 3px;
        margin-left: -2px;
    }
    .gallery {
        background: #2d303a;
        padding: 45px 0px 34px 0px;
    }
    .gallery-menu {
        padding: 18px 18px 17px 20px;
    }
    .gallery-wrapper{
        grid-template-columns: 1fr 1fr;
        padding: 0px 20px;
        grid-column-gap: 13px;
        grid-row-gap: 14px;
    }
    .gallery-item:nth-child(n+9){
        display: none;
    }
    .about {
        padding: 36px 0px 38px 0px;
    }
    .about-wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }
    .about-item + .about-item{
        margin-top: 33px;
    }
    .about-item {
        width: 83.7vw;
        margin-left: -1px;
    }
    .abot-text {
        margin-top: 21px;
    }
    .about-social {
        margin-top: 17px;
        margin-left: -1px;
    }
    .form-contact {
        padding: 47px 0px 37px 0px;
    }
    .contact-headline {
        padding: 0px 17px;
    }
    .contact-wrapper {
        flex-direction: column;
        padding: 0px 20px;
    }
    .form-item {
        margin-top: 9px;
        margin-left: 0px;
    }
    .form-item form input, textarea {
        width: 84vw;
    }
    .form-item form {
        align-items: center;
    }
    .form-item form .submit {
        width: 84vw;
        height: 50px;
    }
    .contact-box {
        margin-top: 35px;
        margin-left: 0px;
    }
    .adress-box .adress:nth-child(2){
        margin-top: 8px;
    }
    .copyright {
        display: none;
    }
    .footer-wrapper {
        padding: 0px 35px;
        justify-content: center;
    }
}
